<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Danh sách tài khoản</title>
</head>
<body>
   <table th:unless="${#lists.isEmpty(users)}" width="100%" class="table table-striped table-bordered" 
	                    	id="dataTables-example">
	                        <thead>
	                            <tr>
	                                <th width="">MÃ</th>
	                                <th width="">Địa Chỉ</th>
	                                <th width="">Thành Phố</th>
                                    <th width="">Dài</th>
                                    <th width="">Rộng</th>
                                    <th width="">Giá</th>
                                    <th width="">Pháp Lí</th>
                                    <th width="">Hiện trạng</th>
                                    <th width="">Action</th>
	                            </tr>
	                        </thead>
	                        <tbody>
	                            <tr th:each="user : ${users}">
	                               	<td th:text="${user.userid}"></td>
	                                <td th:text="${user.email}"></td>
                                   	<td th:text="${user.role}"></td>
                                   	<td th:text="${user.fristname}"></td>
                                   	<td th:text="${user.fullname}"></td>
                                    <td>
                                         <li>
                                                	<a th:href="@{/admin/user/{id}/delete(id=${user.userid})}">
                                                		
                                                		Xóa 
                                                	</a>
                                                </li>
                                    </td>
	                            </tr>
	                        </tbody>
	                    </table>
</body>
</html>