<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Mật khẩu mới</title>
<!-- Bootstrap Core CSS -->
<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
	rel="stylesheet" />
</head>
<body>
	<div class="container" style="width: 400px; padding: 50px">
		<form th:action="@{/reset}" method="POST">
			<input type="hidden" name="token" th:value="${token}" />
			<div class="form-group">
				<input type="password" name="password" class="form-control"
					placeholder="new password" />
			</div>
			<button type="submit" class="btn btn-primary btn-block">Mật
				khẩu Mới</button>
			<br />
		</form>
	</div>
</body>

</html>