<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="employee/layout :: head">
<style type="text/css">
</style>
</head>
<body>
	<div id="wrapper">

		<nav th:replace="employee/layout :: sidebar"></nav>

		<div id="page-wrapper">
			<div class="row">
				<div class="col-sm-12">
					<h3 class="page-header">Quản Lý Loại Sách</h3>
				</div>
				<!-- /.col-sm-12 -->
			</div>
			<!-- /.row -->
			<a style="margin: 5px" th:href="@{/user/category/add}"
				class="btn btn-success">Thêm loại sách</a>
			<div class="row">
				<div class="col-sm-12">
					<div th:if="${success}"
						class="row alert alert-success alert-dismissible">
						<button type="button" class="close" data-dismiss="alert">
							<span>&times;</span>
						</button>
						<span th:text="${success}"></span>
					</div>

					<div class="panel panel-primary">
						<div class="panel-heading">Danh Sách Loại Sách</div>
						<!-- /.panel-heading -->
						<div class="panel-body">
							<h4 th:if="${#lists.isEmpty(catagorys)}"></h4>

							<table th:unless="${#lists.isEmpty(catagorys)}" width="100%"
								class="table table-striped table-bordered"
								id="dataTables-example">
								<thead>
									<tr>
										<th width="">Mã</th>
										<th width="">Tên sách</th>

									</tr>
								</thead>
								<tbody>
									<tr th:each="catagorys : ${catagorys}">
										<td th:text="${catagorys.catagoryid}"></td>
										<td th:text="${catagorys.catagoryName}"></td>

										<td>
											<li><a
												th:href="@{/manager/catagory/{id}/edit(id=${catagorys.catagoryid})}">

													Sửa </a></li>
											<li><a
												th:href="@{/admin/user/{id}/delete(id=${catagorys.catagoryid})}">

													Xóa </a></li>
										</td>
									</tr>
								</tbody>
							</table>
							<!-- /.table-responsive -->
						</div>
						<!-- /.panel-body -->
					</div>
					<!-- /.panel -->
				</div>
				<!-- /.col-sm-12 -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /#page-wrapper -->

	</div>
</body>
</html>