<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Danh sách danh mục</title>
</head>
<body>
	<table th:unless="${#lists.isEmpty(catagorys)}" width="100%"
		class="table table-striped table-bordered" id="dataTables-example">
		<thead>
			<tr>
				<th width="">Mã</th>
				<th width="">Tên sách</th>
				
			</tr>
		</thead>
		<tbody>
			<tr th:each="catagorys : ${catagorys}">
				<td th:text="${catagorys.catagoryid}"></td>
				<td th:text="${catagorys.catagoryName}"></td>

				<td>
					<li><a
						th:href="@{/manager/catagory/{id}/edit(id=${catagorys.catagoryid})}">

							Sửa </a></li>
					<li><a
						th:href="@{/admin/user/{id}/delete(id=${catagorys.catagoryid})}">

							Xóa </a></li>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>