<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="employee/layout :: head">
<meta charset="UTF-8">

</head>
<body>
	<div id="wrapper">

		<nav th:replace="employee/layout :: sidebar"></nav>
			<nav th:replace="employee/layout :: quanly"></nav>
		<div id="page-wrapper">
			<div class="row">
				<div class="col-sm-12">
					<h3 class="page-header">Quản lý sách</h3>
				</div>
				<!-- /.col-sm-12 -->
			</div>
			<!-- /.row -->
			
			<div class="row">
				<div class="col-sm-12">
					<div th:if="${success}"
						class="row alert alert-success alert-dismissible">
						<button type="button" class="close" data-dismiss="alert">
							<span>&times;</span>
						</button>
						<span th:text="${success}"></span>
					</div>

					<div class="panel panel-primary">
						<div class="panel-heading">Danh sách sách</div>
						<!-- /.panel-heading -->
						<div class="panel-body">
							<h4 th:if="${#lists.isEmpty(orders)}"></h4>

						<table th:unless="${#lists.isEmpty(orders)}" width="100%"
								class="table table-striped table-bordered"
								id="dataTables-example">
								<thead>
									<tr>
										<th width="">Mã</th>
										<th width="">Email khách hàng</th>
										<th width="">Tên khách hàng</th>
										<th width="">Ngày mua</th>
										<th width="">Ghi chú</th>
										<th width="">Số điện thoại</th>
										<th width="">Địa Chỉ</th>
										<th>Tùy chọn</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="order : ${orders}" th:if="${order.orderid} != 0">
										<td th:text="${order.orderid}"></td>
										<td th:text="${order.custormerEmail}"></td>
										<td th:text="${order.custormerName}"></td>
										<td th:text="${order.date}"></td>
										<td th:text="${order.note}"></td>
										<td th:text="${order.phone}"></td>
										<td th:text="${order.address}"></td>
										<td><a class="btn btn-danger" th:href="@{/manager/order/{id}/chi-tiet(id=${order.orderid})}"
										>
											Xem </a> | <a class="btn btn-danger" th:href="@{/manager/order/{id}/delete(id=${order.orderid})}"
										>
											Xóa </a></td>
									</tr>
								</tbody>
							</table>
							<!-- /.table-responsive -->
						</div>
						<!-- /.panel-body -->
					</div>
					<!-- /.panel -->
				</div>
				<!-- /.col-sm-12 -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /#page-wrapper -->

	</div>

</body>
</html>


