<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="employee/layout :: head"></head>
<body>

	<div id="wrapper">

		<nav th:replace="employee/layout :: sidebar"></nav>

		<div id="page-wrapper">
			<div class="row">
				<div class="col-sm-12"></div>
				<!-- /.col-sm-12 -->
			</div>
			<!-- /.row -->

			<div class="row">
				<div class="col-sm-10">
					<div class="panel panel-primary">
						<div class="panel-heading">Form Sản Phẩm</div>
						<!-- /.panel-heading -->
						<div class="panel-body">
							<form th:action="@{/manager/upload}" enctype="multipart/form-data" th:object="${product}"
								method="POST" >

								<input type="hidden" th:field="*{productid}" /> 
								<input type="hidden" class="form-control" th:field="*{bookName}" /> 
								<input type="hidden" th:field="*{catagory}"> 
								<input type="hidden" class="form-control" th:field="*{price}" /> 
								<input type="hidden" class="form-control" th:field="*{quantity}" /> 
								<input type="hidden" class="form-control" th:field="*{author}" /> 
								<input type="hidden" class="form-control" th:field="*{publisher}" />
								<input type="hidden" class="form-control" th:field="*{description}" /> 
								<input type="hidden" class="form-control" th:field="*{datePublished}" />
								<div class="form-group">
									<label for="name" class="col-xs-4 control-label">Upload
										image</label>

									<div class="col-xs-8">
										<input type="file" name="file" class="form-control"
											placeholder="Select-image" required="required" />
									</div>

								</div>


								<button type="submit" class="btn btn-primary">
									<i class="fa fa-save"></i>Lưu
								</button>
							</form>
						</div>
						<!-- /.panel-body -->
					</div>
					<!-- /.panel -->
				</div>
				<!-- /.col-sm-12 -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /#page-wrapper -->

	</div>

</body>
</html>

